<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/borders.css' %}" rel="stylesheet" media="screen">
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'http://health.hawaii.gov/' %}">Department of Health</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'register:user' %}">Home</a></li>
              <li><a href="{% url 'register:user' %}"></a>Page 1</li>
                
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-earphone"></span>&nbsp;Contact DoH<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <a href="/contact.php">Contact Department of Health</a><br>
                        <a href="/school_user/help_folder/check_status_mess.php">View Previously Submitted help requests</a>
                    </ul>
            </li> 
              <li><a href="{% url 'register:user' %}"></a>Page 3</li> 
            </ul>
          </div>
        </nav>
    </body>
</html>